@use 'colors' as *;
@use 'typography' as *;
@use 'typography' as *;

:root {
    /**
    @font family declaration
    */
    @each $ff, $shades in $font-family {
        @each $shade, $value in $shades {
            --tp-#{$ff}-#{$shade}: #{$value};
        }
    }

    /**
    @color declaration
    */
    @each $color, $shades in $colors {
        @each $shade, $value in $shades {
            --tp-#{$color}-#{$shade}: #{$value};
        }
    }

}
